.page {
  width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px){
  .page {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px){
  .page {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px){
  .page {
    max-width: 100%;
  }
}

*{
  outline: 0px solid rgb(52, 69, 165);
  }

  /* var docWidth = document.documentElement.offsetWidth; /*ниже проверка горизонтального скролла/*ниже проверка горизонтального скролла
  [].forEach.call(
    document.querySelectorAll('*'),
    function(el) {
      if (el.offsetWidth > docWidth) {
        console.log(el);
      }
    }
  );
  */
