.places{
  margin: 92px auto 92px auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 80px;
  max-width: 984px;
}
@media screen and (max-width: 1024px){
  .places {
    margin: 92px auto 92px auto;
    max-width: 928px;
  }
}
@media screen and (max-width: 1000px){
  .places {
    gap: 72px;
    max-width: 820px;
  }
}
@media screen and (max-width: 768px){
  .places {
    gap: 72px;
    max-width: 720px;
  }
}
@media screen and (max-width: 560px){
  .places {
    margin: 64px auto 66px auto;
    gap: 50px;
    max-width: 100%;
  }
}
@media screen and (max-width: 320px){
  .places {
    margin: 64px auto 66px auto;
    gap: 50px;
    max-width: 100%;
  }
}
