.lead{
  padding: 48px 48px 92px 48px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 1024px){
  .lead {

  }
}
@media screen and (max-width: 768px){
  .lead {
    padding: 48px 0px 88px 0px;
  }
}
@media screen and (max-width: 320px){
  .lead {
    padding: 48px 0px 64px 0px;
  }
}
