.cover__subtitle{
font-weight: 400;
font-size: 18px;
line-height: 122%;
text-align: center;
position: relative;
z-index: 3;
display: flex;
margin: 0 auto;
padding: 32px 0 0 0;
justify-content: center;
max-width: 30.4%;
}
