.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 106% ;
  text-align: center;
  margin: 0 auto;
  padding: 245px 0 0 0;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  max-width: 47.3%;
}
