.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  margin: 0 auto;
  padding: 245px 0 0 0;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  max-width: 560px;
}
@media screen and (max-width: 1024px){
  .cover__title {
    padding: 195px 0 0 0;
  }
}
@media screen and (max-width: 768px){
  .cover__title {
    padding: 115px 0 0 0;
  }
}
@media screen and (max-width: 560px){
  .cover__title {
    padding: 106px 0 0 0;
    max-width: 280px;
    font-size: 56px;
    line-height: 109%;
  }
}
@media screen and (max-width: 425px){
  .cover__title {
    padding: 81px 0 0 0;
    font-size: 42px;
  }
}
@media screen and (max-width: 320px){
  .cover__title {
    padding: 33px 0 0 0;
    font-size: 32px;
  }
}
