.places__website{
  margin: auto 0 48px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
}
@media screen and (max-width: 560px){
  .places__website {
    margin: 0 0 32px 16px;
  }
}
@media screen and (max-width: 560px){
  .places__website {
    margin: 0 0 32px 16px;
  }
}
@media screen and (max-width: 560px){
  .places__website {
    margin: 0 0 32px 16px;
  }
}
